<% include ./partials/header %>

<header>
    <h1> Welcome to Sheikh Hasina Software Technology Park, Jessore</h1>
    <a class="btn btn-primary btn-lg" href="/companies">View All Software Companies</a>
</header>








<% include ./partials/footer %>